* {
	margin: 0;
	padding: 0;
}
html {
	height:100vh;
}
/*List-1*/
section {
	width: 500px;
	height: 100px;
	background: brown;
	margin: 20px 0 0 20px;
	padding: 5% 0;
}
section ul {
	width: 69%;
	height: 70px;
	margin: 3% auto;
	list-style-type: none;
	text-align: right;	
	position: relative;
}
section ul li {
	width: 70px;
	height: 70px;
	display: inline-block;
	text-transform: uppercase;
	float: left;
	font-size: 50px;
	color: white;
	background: blue;
	margin-right: 20px;
	text-align: center;
	line-height: 70px;
}
section ul li:nth-child(1) {
	background: green;
}
section ul li:nth-child(4) {
	background: blue;
	margin-right: 0;
}
section ul li:nth-child(2) {
	background: pink;
}
section ul li:nth-child(3) {
	background: gray;
}
/*List-2.1*/
section[name="section1"]:hover li {
	margin-right: 19px;
}
section[name="section1"]:hover li:nth-child(2) {
	background: yellow;
}
section[name="section1"]:hover li:nth-child(4) {
	background: orange;
	margin-right: 0;
}
section[name="section1"]:hover li:nth-child(1) {
	border: 1px black solid; 
	margin-top: -1px;
	margin-left: -1px;
}
section[name="section1"]:hover li:nth-child(3) {
	border: 1px black solid; 
	margin-top: -1px;
}
/*List-2.2*/
section[name="section1"] ul li:nth-child(1):hover:after {
	content: "2";
	width: 70px;
	height: 70px;
	background: black;
	position: absolute;
	display: block;
	top: 0;
	left: 90px;
}
/*List-2.3*/
section[name="section1"] ul li:nth-child(2):hover:after {
	content: "3";
	width: 70px;
	height: 70px;
	background: violet;
	position: absolute;
	top: 0;
	left: 180px;
}
section[name="section1"] ul li:nth-child(2):hover:before {
	content: "4";
	width: 70px;
	height: 70px;
	background: lightgreen;
	position: absolute;
	top: 0;
	left: 270px;
}
/*List-3*/
section[name="section2"] li:nth-child(1) {
	content: "1";
	width: 70px;
	height: 70px;
	position: absolute;
	background: green;
	top: 0;
	left: 0;
}
section[name="section2"] li:nth-child(2) {
	content: "2";
	width: 70px;
	height: 70px;
	position: absolute;
	background: pink;
	top: 0;
	left: 90px;
}
section[name="section2"] li:nth-child(3) {
	content: "3";
	width: 70px;
	height: 70px;
	position: absolute;
	background: grey;
	top: 0;
	left: 180px;
}
section[name="section2"] li:nth-child(4) {
	content: "4";
	width: 70px;
	height: 70px;
	position: absolute;
	background: blue;
	top: 0;
	left: 270px;
}
/*List-3.1*/
section[name="section2"]:hover li:nth-child(1) {
	left: 180px;
}
section[name="section2"]:hover li:nth-child(3) {
	left: 0;
}
/*List-3.2*/
section[name="section2"]:hover li:nth-child(2) {
	left: 270px;
}
section[name="section2"]:hover li:nth-child(4) {
	left: 90px;
}
/*List-3.3*/
section[name="section2"] li:nth-child(1):hover:after {
	content: "2";
	width: 70px;
	height: 70px;
	background: pink;
	position: absolute;
	top: 0;
	left: -180px;
	z-index: 1;
}
section[name="section2"] li:nth-child(1):hover:before {
	content: "3";
	width: 70px;
	height: 70px;
	background: grey;
	position: absolute;
	top: 0;
	left: 90px;
	z-index: 1;
}