* {
	margin: 0;
	padding: 0;
}
html {
	height:100vh;
}
/*List-1*/
section {
	width: 30%;
	height: 300px;
	background: brown;
	padding: 5% 0;
	margin: 20px 0 0 20px;
	display: inline-block;
}
section div {
	width: 62%;
	height: 70px;
	margin: 0 auto;
	padding: 18% 0;
	position: relative;
}
section div ul {
	height: 70px;
	list-style-type: none;
	text-align: right;	
}
section div ul li {
	width: 70px;
	height: 70px;
	display: inline-block;
	text-transform: uppercase;
	float: left;
	font-size: 50px;
	color: white;
	background: blue;
	margin-right: 20px;
	text-align: center;
	line-height: 70px;
}
section div ul li:nth-child(1) {
	background: green;
}
section div ul li:nth-child(4) {
	background: blue;
	margin-right: 0;
}
section div ul li:nth-child(2) {
	background: pink;
}
section div ul li:nth-child(3) {
	background: gray;
}
/*List-2.1*/
section[name="section2"]:hover li {
	margin-right: 17px;
}
section[name="section2"]:hover li:nth-child(2) {
	background: yellow;
}
section[name="section2"]:hover li:nth-child(4) {
	background: orange;
}
section[name="section2"]:hover li:nth-child(1), section[name="section2"]:hover li:nth-child(3) {
	border: 2px black solid; 
	margin-top: -2px;
}
/*List-2.2*/
section[name="section2"] ul li:nth-child(1):hover:after {
	content: "2";
	width: 70px;
	height: 70px;
	background: black;
	position: absolute;
	display: block;
	top: 104px;
	left: 91px;
}
/*List-2.3*/
section[name="section2"] ul li:nth-child(2):hover:after {
	content: "3";
	width: 70px;
	height: 70px;
	background: violet;
	position: absolute;
	top: 104px;
	left: 180px;
}
section[name="section2"] ul li:nth-child(2):hover:before {
	content: "4";
	width: 70px;
	height: 70px;
	background: lightgreen;
	position: absolute;
	top: 104px;
	left: 269px;
}
/*List-3.1*/
section[name="section3"]:hover li:nth-child(1):before {
	content: "1";
	width: 70px;
	height: 70px;
	position: absolute;
	background: green;
	top: 104px;
	left: 180px;
}
section[name="section3"]:hover li:nth-child(3):before {
	content: "3";
	width: 70px;
	height: 70px;
	position: absolute;
	background: grey;
	top: 104px;
	left: 0;
}
/*List-3.2*/
section[name="section3"]:hover li:nth-child(2):before {
	content: "2";
	width: 70px;
	height: 70px;
	position: absolute;
	background: pink;
	top: 104px;
	left: 270px;
}
section[name="section3"]:hover li:nth-child(4):before {
	content: "4";
	width: 70px;
	height: 70px;
	position: absolute;
	background: blue;
	top: 104px;
	left: 90px;
}
/*List-3.3*/
section[name="section3"] li:nth-child(1):hover:after {
	content: "2";
	width: 70px;
	height: 70px;
	background: pink;
	position: absolute;
	top: 104px;
	left: 0;
	z-index: 1;
}
section[name="section3"] li:nth-child(1):hover:after {
	content: "3";
	width: 70px;
	height: 70px;
	background: grey;
	position: absolute;
	top: 104px;
	left: 270px;
	z-index: 1;
}